@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../vendor/bootstrap/scss/bootstrap";

@import "../vendor/Font-Awesome/scss/fontawesome.scss";
@import "../vendor/Font-Awesome/scss/solid.scss";
@import "../vendor/Font-Awesome/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";

@if $td-enable-google-fonts {
    @import url($web-font-path);
}

footer {
    min-height: 150px;

    @include media-breakpoint-down(md) {
         min-height: 200px;
    }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: -4rem;
        visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
        display: block;
        content: " ";
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden;
    }
}

@import "styles_project";
header.article-meta {
	background:var(--bone-color);
	padding:0 4%;
	margin:0;
	border-top:1px solid #dbdbdb;
}

.article-products span {
	position:relative;float:left;width:1em;height:2em;margin-right:.5em;
}

.article-products span:before {
	font-family: "Font Awesome 5 Free";
	content: '\f233';
	font-style: normal;
	font-weight: 900;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	width:1.2em;
	height:1.2em;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-.3em;
	margin-left:-.6em;
}

.article-products a {
	float:left;
	padding:0 .3em;
	margin:.3em;
	margin-top:.6em;
	background:#e6e6e6;
}

.article-products a:hover {
	color:var(--black-color);
	background:var(--rose-color)
}
